:root {
    --primary-color: #3d70b2;
}


.container{
    display: flex; 
    list-style-type: none;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

/* .no-margin {
    margin-top: 0px;
} */

.li-remove-link-underline {
    text-decoration: none;
}

a, a:hover, a:active, a:visited { color: white; }

.body-no-overflow {
overflow-x: hidden;
overflow-y: hidden;
}

.background-color-main {
    background-color: #a8d0e6;
}

.hunter-name-and-occupation {
    text-align: center;
    background-color: #a8d0e6;
    margin: 0;
    padding: 30px;
    padding-bottom: 0;
    font-family: 'Playfair Display', serif;
}

.mission-statement {
    text-align: center;
    background-color: #a8d0e6;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}

.meet-hunter-container {
    display: flex;
    /* flex-flow: wrap; */
    /* row-gap: 50px; */
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
}

.hunter-and-caitlin-picture-back {
    max-width: auto;
    max-height: 650px;
    flex-basis: auto;
    
}

.meet-hunter-text-top {
    font-size: 40px;
    padding-left: 180px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 150px;
    margin-top: 0;
    margin-bottom: 0;
    justify-self: center;
    color: #24305e;
    font-family: 'Playfair Display', serif;
}    

.meet-hunter-copy {
    font-size: 18px;
    margin-top: 0;
    padding: 5px 30px;
    padding-bottom: 300px;
    background-color: #f76c6cd2;
    flex-grow: auto;
    color: #24305e;

}


/* .hr-index{
    border: 10px solid #24305e; 
    border-radius: 5px;
    margin: 0;

} */
